<div class="quiz-container">
  @if (questions.length > 0) {
    <div>
      @for (question of questions; track question; let i = $index) {
        <div class="question-block">
          <p>{{ question.question }}</p>
          @for (answer of question.all_answers; track answer) {
            <div>
              <input type="radio" [name]="'question' + i" [value]="answer" (change)="selectAnswer(i, answer)">
              <label>{{ answer }}</label>
            </div>
          }
        </div>
      }
      <button (click)="submitQuiz()">Submit Quiz</button>
    </div>
  } @else {
    <p>Loading questions...</p>
  }
</div>
